.main {
    margin: -3px 0 0 0;
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, 0.82);
}
.main__background-image{
    background-image: 
        linear-gradient(to top, rgba(52, 32, 133, 0.32), rgba(52, 32, 133, 0.32)),
        url('/img/01.jpg');
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100%;
}
/*
.overlay {
    background: rgba(52, 32, 133, 0.32);
    height: clamp(12.5rem, 3.75rem + 43.75vw, 56.25rem);
    max-width: 100%;
}
*/
.main__container {
    max-width: 100%;
    max-height: 900px;
}
.main__title {
    font-size: clamp(1.125rem, 0.675rem + 2.25vw, 3.375rem);
    font-weight: 700;
    line-height: clamp(1.25rem, 0.6rem + 3.25vw, 4.5rem);
}
.main__subtitle {
    font-size: clamp(0.875rem, 0.45rem + 2.13vw, 3rem);
    font-weight: 400;
    line-height: clamp(1.25rem, 0.6rem + 3.25vw, 4.5rem);
}